<app-header></app-header>
<div>
<h1>Directives:Parent Component(Main Page)</h1>

Marks:<input type="number" #uname (keyup)="0"><br><br>


<button (click)="hello()">Login</button><br><br><br>



@if(xlogin){
  <h1>You  are logged IN</h1>
}
@else {
  <h1>You are not Logged In </h1>
} 



<!-- @if(!hello){
  <h3>Welcome {{xname}}</h3>
} -->



<app-footer [uname]="uname.value"></app-footer>

</div>
<!-- 
@for(s of sdata; track sdata.roll){
  <ul type="square">
    <li>{{s.Roll_No}}</li>
    <li>{{s.name}}</li>
    <li>{{s.age}}</li>
    <li>{{s.gender}}</li>
    <li>{{s.loc}}</li>
  </ul>
} -->

@for(s of sdata; track sdata.roll){
  <ul type="square">
    <li>{{s.Roll_No}},
    {{s.name}},
    {{s.age}},
    {{s.gender}},
    {{s.loc}}</li>
  </ul>
}