/* You can add global styles to this file, and also import other style files */


p{
    color: rgb(23, 242, 169);
}
h1,h2,h3{
    color: rgb(240, 161, 43);
}
h4,h5,h6{
    font-weight: normal;
    color: aqua;
}